	<div class="container">
	<h2 class="text-muted">Shopzero</h2>
  	<%= form_for @user,  url: { action: "create" } do |f| %>
		<div class="form-group">
		    <%= f.label :firstname, "First Name", class: "sr-only" %>
		    <%= f.text_field :firstname, placeholder: "First Name", class: "form-control"%>
	    </div>
		<div class="form-group">
		    <%= f.label :lastname, "Last Name", class: "sr-only" %>
		    <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control" %>
	    </div>
		<div class="form-group">
		    <%= f.label :username, "Username", class: "sr-only" %>
		    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
		</div>
		<div class="form-group">
		    <%= f.label :password, "password", class: "sr-only" %>
		    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
		</div>
		<div class="form-group">
		    <%= f.label :password_confirmation, "Password Confirmation", class: "sr-only" %>
		    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
	    </div>
		<div class="form-group">
		    <%= f.label :email, "E-mail Address", class: "sr-only" %>
		    <%= f.email_field :email, placeholder: "E-mail Address", class: "form-control" %>
		</div>
		<div class="form-group">
		    <%= f.submit "Signup", class: "btn btn-default btn-primary" %>
		</div>
  <% end %>
	</div>
