= form_for @test_react_code, remote: true do |f|
   = f.text_field :title
   = f.text_field :appt_time
   = f.submit 'Make appointment'

- @test_react_codes.each do |a|
   %h3= a.title
   %p= a.appt_time